body {
    padding-bottom: 20px;
    padding-top: 20px;
}

header {
    background-color: aquamarine;
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid;
    border-color: rgb(223, 146, 53);
}
.btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    bottom: 25px;
    right: 25px;
    background: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease;
}

.btn-wsp:hover {
    background: #20ba5a;
}

.btn-inst {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    bottom: 25px;
    right: 130px;
    background: #af1752;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(50, 12, 219, 0.966);
    z-index: 100;
    transition: all 300ms ease;
}

.btn-inst:hover {
    background: #6d082f;
}

nav {
    margin-top: 80px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.contac {
    padding-left: 200px;
    padding-top: 90px;
    font-size: 20px;
    color: rgb(223, 146, 53);
}
.contac:hover {
    color: rgb(250, 161, 53);

}
.contac:hover {
    color: rgb(250, 161, 53);
}
#inicio {
    color: rgb(91, 10, 151);
    background-color: rgb(223, 146, 53);
    border-radius: 10px;
    padding: 10px;
    border: solid;
    margin: 10px;
    text-decoration: none;
}
#inicio:hover { 
    background: rgb(250, 161, 53);
}
#pulseras {
    color: rgb(91, 10, 151);
    background-color: rgb(223, 146, 53);
    border-radius: 10px;
    padding: 10px;
    border: solid;
    margin: 20px;
    text-decoration: none;
}

#pulseras:hover {
    background: rgb(250, 161, 53);
}

#dijes {
    color: rgb(91, 10, 151);
    background-color: rgb(223, 146, 53);
    border-radius: 10px;
    padding: 10px;
    border: solid;
    margin: 20px;
    text-decoration: none;
}

#dijes:hover {
    background: rgb(250, 161, 53);
}

#anillos {
    color: rgb(91, 10, 151);
    background-color: rgb(223, 146, 53);
    border-radius: 10px;
    padding: 10px;
    border: solid;
    margin: 20px;
    text-decoration: none;
}

#anillos:hover {
    background: rgb(250, 161, 53);
}

#aros {
    color: rgb(91, 10, 151);
    background-color: rgb(223, 146, 53);
    border-radius: 10px;
    padding: 10px;
    border: solid;
    margin: 20px;
    text-decoration: none;
}

#aros:hover {
    background: rgb(250, 161, 53);
}

.imagen1 {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    transition: all 300ms ease;
    margin: 5px;
    grid-column: 1/1;
    grid-row: 5/1;
}
.imagen1:hover {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.7);
}
div {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
}
.formulario__titulo {
    text-align: center;
    margin-top: -20px;
    color: rgba(0,0,0,0.7)
}
.formulario__input, .formulario__label,
.formulario__submit {
    display: block;
    width: 450px;
    font-size: 1.3em;
}
.formulario__input {
    background: rgba(250,161, 53,0.5);
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
}
.formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0,rgba(0,0,0,0.7));
}
.formulario__input:focus + .formulario__label {
    margin-top: -135px;
}
.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.2s;
}
.formulario__submit {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
    width: 490px;
    cursor: pointer;
    border: none;
}
footer {
    border: solid;
    border-radius: 20px;
    background-color: rgb(121, 117, 117);
}
.imagen2 {
    margin: 10px;
}
.foot__conten {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(231, 178, 108);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.quiensomos {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.donde__encontrarnos {
    text-align: center;
}
#encuet {
    font-size: 30px;
    margin: 15px;
}
.wsp__inst {
    text-decoration: none;
    color:  rgb(231, 178, 108);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    margin: 5px;
}
.wsp__inst:hover {
    color: rgb(250, 161, 53)
}
.donde__encontrarnos{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.tabla {
    margin: 10px;
}